*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    justify-content: center;
    
    align-items: center;
    height: 100vh;
    margin: 0;
}

.nav1{
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    transition:all 0.3s ease-in;
}
.nav1 ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 30%;
    font-size: 1em;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 1.3rem;
}

.nav1 a{
    color: rgb(161, 81, 16);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    /* padding: 0.2rem; */
}
.nav1 i{
    color: rgb(46, 46, 46);
}
.nav1.active i{
    color: white;
}

.nav1 .container{
    display: flex;
    justify-content: space-between;
    

    align-items: center;
}
.nav1.container.nav1-ul{
    right: 0;
    position: relative;
}
.nav1.active{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

}
.nav1.active a{
    color: rgb(255, 255, 255);
}

.container{
    margin: 0 auto;
    padding: 10px;
    
}

.hero{
    background-image: url('ra.jpg');
    height: 100vh;
    margin-left: auto;
    /* image-resolution: ; */
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: bottom center;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    z-index: -2;
}

.hero span{
    margin-left: 0;
    color: white;
    font-size: 50px;
    margin-bottom: 200px;
    text-align: center;
}

.hero p{
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 200px;
    text-align: center;

}

.hero::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,0.3);
    z-index: -1;
}

.content h2,
.content h3{
    font-size: 150%;
    margin-left: 10px;
}

.content p{
    color: #555;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.toast{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rebeccapurple;
    font-weight: 700;
    background-color: rgba(255,255,255,0.9);
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    transition: all 0.5s ease-in;
}
.icon{
    visibility:hidden;
    color: orange;
    animation: grow 0.3s linear;
    
}

@keyframes grow {
    to{
        transform: scale(10);
        opacity: 0;
    }
}

.nav2-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
}

.nav2{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
}
.nav2.visible{
    transform: translateX(0);
}

.nav2-black{
    background-color: rgb(34,31,31);
    width: 28%;
    max-width: 280px;
    min-width: 100px;
    transition-delay: 0.4s;
    transition:ease-in 0.4s;
}
.nav2-black.visible{
    transition-delay: 0.4;
    transition:ease-out 0.4s;
}

.nav2-red{
    background-color: rgb(223, 32, 32);
    width:90%;
    transition-delay: 0.3s;
    transition:ease-in 0.3s;
}
.nav2-red.visible{
    transition-delay: 0.3s;
    transition:ease-out 0.3s;
}
.nav2-white{
    background-color: white;
    width: 90%;
    position:relative;
    transition-delay: 0.2s;
    transition:ease-in 0.2s;
}
.nav2-white.visible{
    transition-delay: 0.4s;
    transition:ease-out 0.4s;
}
.close-btn{
    opacity: 0.3;
    position: absolute;
    right: 10px;
    top: 27px;
}
.nav2 li a{
    color: rgb(39, 3, 3);
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    margin-top: 10px;
}
.nav2 li{
    margin-top: 10px;
    margin-left: 5px;
}
.nav2 span{
    margin-top: 15px;
}
.contact{
    background-color: steelblue;
    padding: 1em;
}
.contact-us-form{
    padding: 0.5em;
}

.contact-us{
    background-color: rgba(15, 15, 15, 0.5);
    padding: 1em;
    border-radius: 1em;
    margin-top: 2em;
    bottom: 0;
    position: relative;
    max-width: 600px;
    transform: translateX(-50%);
    left: 50%;
}
.contact-us ul{
    display: flex;
    flex-direction:row;
    justify-content: center;
    list-style: none;
    font-size: 1em;
    
    
}
.contact-us ul a{
    text-decoration: none;
    color: white;
    
    margin-left: 0.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-us ul li{
    margin-right: 0.8em;
}
.form-heading{
    align-items: center;
    margin: 0;
    text-align: center;
    margin-bottom:20px;
    font-size: 1.5em;
    color: lightblue;
}

.contact-us-form{
    
    align-items: center;
    
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 400px;
    align-items: center;
    margin-bottom:20px;
    color: lightblue;
    justify-content: center;
    border-radius: 5px;
    padding: 15px 30px;
    align-items: center;
    background-color:rgba(0,0,0,0.6);
}

#name{
    position: relative;
    margin: 40px 0 40px;
    margin-top: 40px;
    
   max-width: 100%; 
}
#message{
    position: relative;
    margin: 60px 0 40px;
    max-width: 100%;
}
/* #email{
    position: relative;
    margin: 60px 0 40px;
    width: 275px;
} */

.contact-us-form input{
    background-color: transparent;
    border: 0;
    position: absolute;
    display: block;
    border-bottom: 2px white solid;
    width: 100%;
    padding: 5px;
    color: white;
}


.contact-us-form .btn{
    background-color: rgb(90, 90, 219);
    padding: 15px;
    color: white;
    width:100%;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    
}

.btn:active{
    transform: scale(0.98);
}


 
.form-control input:focus,
.form-control input:valid{
    outline: 0;
    border-bottom-color: lightblue;
} 



.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265,1.55);
   
}

.form-control input:focus + label span,
.form-control input:valid + label span{
    color: lightblue;
    transform: translateY(-30px);
}